{% extends "publications/base.html" %}
{% block content %}

<ul>
    {% for post in posts %}
    <div>
        <h2>{{post.name|capfirst}}</h2>
         {% autoescape off %}
        <p>{{post.text|truncatechars:100}}</p>
        {% endautoescape %}
        <div class="article-block__bottom">
            <a class="article-block__link link-underscore" href="{% url 'details' post.id %}">Читать далее</a>
        </div>

    </div>
    {% endfor %}
</ul>
<div class="btn-block">
    <button class="btn">Смотреть еще <i class="icon-down"></i></button>
</div>
</div>

{% endblock content %}