{% extends "publications/base.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="article-block__img">
                {% if post.image %}
                     <img class="horizontal-fill-img" src="{{post.image.url}}" alt="image_2">
                    {% else %}
                    <img class="horizontal-fill-img" src="https://loremflickr.com/500/300" alt="image_2">
                    {% endif %}


            </div>
        </div>
        <div class="container">
            <article class="article-detail">
                <div class="article-detail__header">
                    <h1>{{post.name}}</h1>

                    <div class="article-detail__info">
                        <div class="author"><b>{{post.author.first_name}} {{post.author.last_name}}</b></div>
                        <div>{{post.date.date}}</div>
                    </div>
                     <div>
                        {% for tag in post.tags.all %}
                        <span class="article-block__tag"> {{tag.name }} </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="article-detail__text">
                    <section>
                        <p>{{ post.text | linebreaks }}
                        </p>

                    </section>


                    <div class="btn-block bottom-fixed">
                        <button class="btn-up" onclick="window.location.href='#top'"></button>
                    </div>
                </div>
            </article>
        </div>
{% endblock content %}
